In [39]:
# imports

import numpy as np
import pandas as pd
from sklearn import preprocessing, datasets
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import LabelEncoder # For change in the labels of the output
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("balance-scale.data")

In [7]:
df.head()

  Class_Name   Left_Weight   Left_Distance   Right_Weight   Right_Distance
0          B             1               1              1                1
1          R             1               1              1                2
2          R             1               1              1                3
3          R             1               1              1                4
4          R             1               1              1                5

In [11]:
le = LabelEncoder()
le.fit(df["Class_Name"])
le.classes_
df["Class_Name"] = le.transform(df["Class_Name"])

In [89]:
X = df.iloc[:, 1:5]
y = df.Class_Name

In [90]:
obj=StandardScaler()
x=obj.fit_transform(X)

In [91]:
df.head()

   Class_Name   Left_Weight   Left_Distance   Right_Weight   Right_Distance
0           0             1               1              1                1
1           2             1               1              1                2
2           2             1               1              1                3
3           2             1               1              1                4
4           2             1               1              1                5

In [127]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

   Left_Weight  Left_Distance  Right_Weight  Right_Distance
0    -0.707107       0.707107     -1.414214       -0.707107
1    -1.414214       0.000000      0.000000        0.000000
2     1.414214      -0.707107     -0.707107       -1.414214
3     1.414214       1.414214      1.414214        0.000000
4     0.000000      -0.707107      0.000000       -0.707107

In [94]:
cls=MLPClassifier()
cls.fit(X_train,y_train)

d:\python\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier()

In [95]:
cls.score(X_test,y_test)

0.96