# Introduction to NumPy and Pandas

NumPy is a Python library, which stands for ‘Numerical Python’. It is the core 
library for scientific computing, which contains a powerful n-dimensional array 
object, provides tools for integrating C, C++ etc.

- NumPy array can also be used as an efficient multi-dimensional container for generic data.
- The ndarray (NumPy Array) is a multidimensional array used to store values of same datatype. These arrays are indexed just like Sequences, starts with zero.
- The ndarrays are better than regular arrays in terms of faster computation and ease of manipulation.
- In different algorithms of Machine Learning like K-means Clustering, Random Forest etc. we have to store the values in an array. So, instead of using regular array, ndarray helps us to manipulate and execute easily.

In [1]:
# importing the required modules

import numpy as np
import pandas as pd
from matplotlib import pyplot

In [2]:
3+2

5

In [4]:
print("Hello, World.")

Hello, World.

In [1]:
import numpy as np

In [2]:
# Convert to an array
a = np.array([1, 2, 3, 4, 5]) # array(list, dtype=)

In [3]:
print(a)

[1 2 3 4 5]

In [5]:
print(a.ndim) # dimensions of the array
print(a.shape) # shape of the array
print(len(a)) # length of the array
print(a.dtype) # datatype of the array
print(a.astype(float)) # type conversion to float64 from int64, this is temporary, in order to save this state, store it in another variable

1
(5,)
5
int32
[1. 2. 3. 4. 5.]

# Two Dimensional Array

In [8]:
# Two Dimensional Array
b = np.array([(1.5, 2, 3), (4, 5, 6)], dtype=float)

In [7]:
print(b.ndim) # dimensions of the array
print(b.shape) # shape of the array
print(len(b)) # length of the array
print(b.dtype) # datatype of the array
print(b.astype(int)) # type conversion to float64 from int64, this is temporary, in order to save this state, store it in another variable

2
(2, 3)
2
float64
[[1 2 3]
 [4 5 6]]

In [9]:
print(b)

[[1.5 2.  3. ]
 [4.  5.  6. ]]

# Three Dimensional Array

In [10]:
# Three Dimensional Array
c = np.array([[(1.5, 2, 3), (4, 5, 6)], [(7, 8, 9), (1.3, 6.4, 9.1)]], dtype=float)

In [11]:
print(c)

[[[1.5 2.  3. ]
  [4.  5.  6. ]]

 [[7.  8.  9. ]
  [1.3 6.4 9.1]]]

In [12]:
print(c.ndim) # dimensions of the array
print(c.shape) # shape of the array
print(len(c)) # length of the array
print(c.dtype) # datatype of the array
print(c.astype(float)) # type conversion to float64 from int64, this is temporary, in order to save this state, store it in another variable

3
(2, 2, 3)
2
float64
[[[1.5 2.  3. ]
  [4.  5.  6. ]]

 [[7.  8.  9. ]
  [1.3 6.4 9.1]]]

# Array Functions

In [14]:
z = np.zeros((3, 3))
print(z)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [15]:
o = np.ones((3, 3))
print(o)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [17]:
e = np.empty((3, 3)) # fills with garbage values
print(e)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [18]:
d = np.arange(10, 25, 4) # put elements in the array starting from 10 going until 25 with a step count/ space of 4 numbers
print(d)

[10 14 18 22]

In [19]:
# For linear spaced numbers
l = np.linspace(0, 2, 9) # linspace(start_number, end_number, no_of_numbers_in_between_them)
print(l)

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

In [20]:
e = np.eye(3, 3) # identity matrix
print(e)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [23]:
r = np.random.random((3, 3))
print(r)

[[0.09790097 0.79285226 0.85492339]
 [0.90782207 0.69537778 0.17120372]
 [0.63489483 0.92440894 0.96915099]]

In [24]:
print(a.sum())
print(a.min())
print(b.max(axis=0)) # gives maximum from every column
print(b.max(axis=1)) # gives maximum from every row

15
1
[4. 5. 6.]
[3. 6.]

In [30]:
print(a.mean())
print(np.median(a))
print(a.std())

3.0
3.0
1.4142135623730951

In [31]:
# Slicing
print(a[0:2])
print(b[0:2, 1]) # First 2 rows and 2nd column

[1 2]
[2. 5.]

In [32]:
# Print the reverse
print(a[::-1])

[5 4 3 2 1]

In [34]:
# Transposing a matrix
print(b)
print("---------------")
np.transpose(b)

[[1.5 2.  3. ]
 [4.  5.  6. ]]
---------------

array([[1.5, 4. ],
       [2. , 5. ],
       [3. , 6. ]])

In [37]:
# Using ravel to vectorize a matrix (flattening to 1D matrix)
r = np.ravel(np.transpose(b))
print(r)

print("-------------")
# To reshape the matrix
rs = r.reshape(2, 3)
print(rs)

[1.5 4.  2.  5.  3.  6. ]
-------------
[[1.5 4.  2. ]
 [5.  3.  6. ]]

In [38]:
# Concatenating the arrays
f = np.array([1, 2, 4], dtype=float)
vs = np.vstack((f, b))
print(vs)

[[1.  2.  4. ]
 [1.5 2.  3. ]
 [4.  5.  6. ]]

 # Other NumPy Functions

In [22]:
# np.multiply()
# np.subtract()
# np.add()
# np.divide()
# np.exp()
# np.sqrt()
# np.sin()
# np.cos()
# np.log()
# a.dot(b) # a and b's dot product